body {
	background-image: url("../images/blackground.jpg")
}


.card-title {
	text-align: center;
}

.nav-link {
	color: #fff;
}

#navbar {
	border: 2.8px outset #800000;
	color: #fff;
	border-radius: 5px;
}

.jumbotron {
	background-color: #ad7974;
	border: 2.8px outset #800000;
	border-radius: 5px;
}

#experiences {
	text-align: center;
	padding-bottom: 50px;
}

